
<div class='teacher-time-table'>
<h1><span>My Time Table</span></h1>
           
<table>
    <tr>
        <th>Day.o</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
       <td>1</td>
        <td>RMT</td>
        <td>vp</td>
        <td>DBMS</td>
        <td>SE</td>
        <td>VB</td>
    </tr>
    <tr>
        <td>2</td>
        <td>VB</td>
        <td>DBMS</td>
        <td>RMT</td>
        <td>SE</td>
        <td>VB</td>
    </tr>
    <tr>
        <td>3</td>
        <td>SE</td>
        <td>LAB</td>
        <td>LAB</td>
        <td>LAB</td>
        <td>RMT</td>
    </tr>
    <tr>
        <td>4</td>
        <td>SE</td>
        <td>DBMS</td>
        <td>RMT</td>
        <td>DBMS</td>
        <td>RMT</td>
    </tr>
    <tr>
        <td>5</td>
        <td>LAB</td>
        <td>LAB</td>
        <td>LAB</td>
        <td>SE</td>
        <td>DBMS</td>
    </tr>
    <tr>
        <td>6</td>
        <td>VB</td>
        <td>RMT</td>
        <td>SE</td>
        <td>DBMS</td>
        <td>VB</td>
</table>
        <!-- My Schedule section end -->
    </div>

