.navSideBarForSS{
    margin-top: 5px;
    border: 1px solid white;
    background-color: #f8f9fa!important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #81818133;
}        