<div class="teacher-assignments">
    <div class="assignments">
        Check AssignMents
    </div>
    <div *ngIf="isLoading" class="text-center">
        Loading Data, Please wait...
    </div>
    <div class="assignement-list" *ngIf="!isLoading">
        <div class="row" *ngFor="let i of assignmentTopicsList">
            <div class="col" [routerLink]="['/wrapper/teacherdashboard/teachermarksassignments', username]" routerLinkActive="active">{{i.topic}}</div>
        </div>
        <!-- <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div> -->
    </div>
</div>
<!-- <router-outlet></router-outlet> -->