<div class="teacher-assignments">
    <div class="assignments">
        Check AssignMents
    </div>
    <div class="assignement-list">
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
        <div class="row">
            <div class="col">Assignement 1</div>
        </div>
    </div>
</div>