<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white pt-4">
    <div class="container-fluid">
      <a class="navbar-brand ml-5" href="#" style="color: #36D1DC;font-size: 24px;">
        <b>VAM</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/login" routerLinkActive="active">
              <b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/aboutus" routerLinkActive="active">
              <b>About Us</b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/help" routerLinkActive="active">
              <b>Help</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/contact" routerLinkActive="active">
              <b>Contact Us</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="container-fluid">
  <div class="col-md-12 col-lg-12 col-sm-0">
    <div class="row">
      <div class="col-md-7 col-lg-8 col-sm-8 login-image">
        <img src="../../assets/images/blogging.svg" alt="img">
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 login-box">
        <div class="card text-center">
          <div class="card-body">
            <div class="login-title">
              <h3 style="color: #36D1DC;">Welcome to the VAM School.</h3>
              <h3 style="color: #5B86E5;">"Let's Learn Together"</h3>
            </div>
            <div class="loginform">
              <form [formGroup]="loginForm">
                <div class="form-group">
                  <div class="input-group mb-3 loginInputDiv">
                    <input type="text" formControlName="email" name="email" placeholder="Email"
                    aria-label="Email" aria-describedby="basic-addon2" class="inputText" required>
                    <div class="input-group-append ml-auto">
                      <span class="input-group-text loginAddIcons" id="basic-addon2">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-5">
                  <div class="input-group mb-3 loginInputDiv">
                    <input type="password" formControlName="password" name="password" class="form-control"
                      placeholder="Password" aria-label="Email" aria-describedby="basic-addon2" class="inputText" required>
                    <div class="input-group-append ml-auto">
                      <span class="input-group-text loginAddIcons" id="basic-addon2">
                        <i class="fa fa-lock" style="font-size: 21px;" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group text-right">
                  <a href="#" style="color: #613CD5;">Forgot Password?</a>
                </div>
                <div *ngIf="isLoading">
                  Logging In, Please wait...
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="loginError == 'Unauthorised'">
                  Username or password is incorrect!
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="loginError == 'User does not exist'">
                  Please enter valid credentials!
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="form-group">
                  <button type="submit" class="loginBtn btn w-50" [disabled]="!loginForm.valid" (click)="loginUser()">
                    <b>Sign In</b>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container-fluid mt-5 text-center" id="contact">
  <div class="contact-row col-12">
      <h2 class="font-weight-bold pt-3">Contact</h2>
      <address class="mt-4">
          MS Plaza, Rathyatra Crossing<br>
           Varanasi,
          Uttar Pradesh - 221010
      </address>
      <div>
          <span><b>Mobile:</b>
              <a href="tel:7688884790"> +91-7688884790</a></span>
          &nbsp;
          <span><b>Mail:</b>
              <a href="mailto:vamgenschool@gmail.com"> vamgenschool@gmail.com</a></span>
      </div>
      <div class="pb-2 pt-4">
          <span class="copyright">&copy; Vam School; Estd: 2020</span>
      </div>
</div>

</section> -->

<!--   
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
              </div>
              <button type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button>
            </form>
          </div>
        
        </div>
     
  
      </div>
    </div>
  </div>
   -->