<div class="topnav">
  <a class="vam-title" href="#home">VAM</a>

  <div class="topnav-right mr-5">
    <!-- <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a> -->
    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
    <a class="nav-link" routerLink="/help" routerLinkActive="active">Help</a>
    <a class="nav-link" href="#contact">Contact Us</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  <div class="col-8">
    </div>
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="login-title1">Welcome to the VAM school.</mat-card-title>
          <mat-card-title class="login-title2">
            "Let's Learn Together"</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="loginForm">
        <mat-card-content>
         
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field appearance="legacy" class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" name="email" required />
                    <button mat-button matPrefix mat-icon-button>
                      <mat-icon>alternate_email</mat-icon>
                    </button>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="legacy" class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password" type="password"
                      name="password" required />
                    <button mat-button matPrefix mat-icon-button>
                      <mat-icon>security</mat-icon>
                    </button>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          
        </mat-card-content>
        <mat-card-actions>
          <button class="sign-in-button" (click)="loginUser()" mat-raised-button color="primary">
            Sign In
          </button>
        </mat-card-actions>
      </form>
      </mat-card>
    </div>
  </div>
</div>

<section class="container-fluid mt-5 text-center" id="contact">
  <div class="contact-row col-12">
      <h2 class="font-weight-bold pt-3">Contact</h2>
      <address class="mt-4">
          MS Plaza, Rathyatra Crossing<br>
           Varanasi,
          Uttar Pradesh - 221010
      </address>
      <div>
          <span><b>Mobile:</b>
              <a href="tel:7688884790"> +91-7688884790</a></span>
          &nbsp;
          <span><b>Mail:</b>
              <a href="mailto:vamgenschool@gmail.com"> vamgenschool@gmail.com</a></span>
      </div>
      <div class="pb-2 pt-4">
          <span class="copyright">&copy; Vam School; Estd: 2020</span>
      </div>
</div>

</section>

<!--   
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
              </div>
              <button type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button>
            </form>
          </div>
        
        </div>
     
  
      </div>
    </div>
  </div>
   -->