<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white pt-4">
    <div class="container-fluid">
      <a
        class="navbar-brand ml-5"
        href="#"
        style="color: #36D1DC;font-size: 24px;"
      >
        <b>VAM</b>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/login"
              routerLinkActive="active"
            >
              <b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/aboutus"
              routerLinkActive="active"
            >
              <b>About Us</b>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/help"
              routerLinkActive="active"
            >
              <b>Help</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/contact"
              routerLinkActive="active"
            >
              <b>Contact Us</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-8 col-sm-8 login-image">
      <img src="../../assets/images/blogging.svg" alt="img" />
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 login-box">
      <div class="card text-center">
        <div class="card-body">
          <div class="login-title">
            <h3>ABOUT US</h3>
          </div>
          <div class="loginform">
            <div class="about-us-subtitile-1">
              <p class="p-div">
                Where Passion meets Technology Building New Community
              </p>
            </div>

            <div class="about-us-mission-title">
              <p class="p-div-mission-title">
                Mission
              </p>
            </div>

            <div class="about-us-mission-content">
                <p class="p-div-mission-content">
              Our Mission is to Connect all the Schools with their Students,
              thereby digesting profiles & preserving the school's identity
              </p>
            </div>

            <div class="about-us-manage-teaching-title">
                <p class="p-div-teaching-title">
                Manage Teaching and Learning with VAM
                </p>
              </div>

              <div class="about-us-content">
                  <p class="p-div-aboutus-content">
                  VAM Provides schools with a platform where they can live stream,
                  upload videos & assignments and your teacher can talk to their
                  students on the platform with the students to solve their doubts
                </p>
                </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
