<div class="topnav">
    <a class="vam-title" href="#home">VAM</a>
  
    <div class="topnav-right mr-5">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <!-- <a class="nav-link" routerLink="/register" routerLinkActive="active"
        >Register</a
      > -->
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"
        >About Us</a
      >
      <a class="nav-link" routerLink="/help" routerLinkActive="active">Help</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active"
        >Contact Us</a
      >
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-8"></div>
      <div class="col">
      
        <div class="about-us">
          <div class="about-us-title">ABOUT  US</div>
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
          <div class="about-us-subtitile-1">
            <p class='p-div'>Where Passion meets Technology Building New Community</p>
          </div>
          <div class="about-us-mission-title">
            Mission
          </div>
          
          <div class="about-us-mission-content">Our Mission is to Connect all the Schools with their Students,
               thereby digesting profiles & preserving the school's identity </div>
          <div class="about-us-manage-teaching-title">Manage  Teaching and Learning with VAM </div>
          <div class="about-us-content">VAM Provides  schools with a platform where they can live stream,
              upload videos & assignments and your teacher can talk to their students on the platform with
            the students to solve their doubts
        </div>
        </div>
      </div>
    </div>
  </div>
  