<div class="homework">
  <div class="row">
    <div class="home-work-image"></div>
  </div>
  <div class="row">
    <div class="col-2">
      <input type="text" [(ngModel)]="assignmentTopic" style="height: 80%;" placeholder="assignment topic">
    </div>
    <div class="col-3">

      <!-- <button type="button" class="btn btn-primary">Upload Assignments</button> -->
      <label for="file-upload" class="btn btn-primary">
        Upload Assignments
    </label>
    <input id="file-upload" style="display: none;" type="file" (change)="handleFileInput($event.target.files)"/>
    </div>
    <div class="col-3"></div>
    <div class="col-3">
      <button type="button" class="btn btn-primary" (click)="checkAssignment()">Check Assignments</button>
    </div>
  </div>
</div>
