<div class="liveclass">
  <div class="row">
    <div class="live-class-image"></div>
  </div>
  <div class="row column-in-center">
    <div class="col-4"></div>
    <div class="col-lg-2 col-md-5 col-sm-5">
      Meeting Id:
    </div>
    <div class="col-lg-2 col-md-5 col-sm-5">
      15634828
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-lg-4 col-md-5 col-sm-5">
      <button type="button" class="btn btn-primary">Go Live</button>
    </div>
  </div>
</div>
