<div class="">
  <div class="col-md-12 col-lg-12">
      <nav class="navbar navbar-expand-lg navbar-light navbarClass">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                  <li class="nav-item navitem ml-4">
                      <a class="nav-link navbarLink" routerLink="/wrapper/teacherdashboard/teacherliveclass" routerLinkActive="active">Live Class</a>
                  </li>
                  <li class="nav-item navitem">
                      <a class="nav-link navbarLink" routerLink="/wrapper/teacherdashboard/teacheruploadvideo" routerLinkActive="active">Upload Videos</a>
                  </li>
                  <li class="nav-item navitem">
                      <a class="nav-link navbarLink" routerLink="/wrapper/teacherdashboard/teacherhomework" routerLinkActive="active">Homework</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link navbarLink" routerLink="/wrapper/teacherdashboard/teachernotes" routerLinkActive="active">Notes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbarLink" routerLink="/wrapper/teacherdashboard/teacherstudentlist" routerLinkActive="active">Students List</a>
                </li>
              </ul>
          </div>
      </nav>
  </div>
</div>

<div class="container ml-2 mt-4">
    <router-outlet></router-outlet>
</div>