<div class="topnav">
  <a class="vam-title" href="#home">VAM</a>

  <div class="topnav-right mr-5">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    <!-- <a class="nav-link" routerLink="/register" routerLinkActive="active"
      >Register</a> -->
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"
      >About Us</a
    >
    <a class="nav-link" routerLink="/help" routerLinkActive="active">Help</a>
    <a class="nav-link" routerLink="/contact" routerLinkActive="active"
      >Contact Us</a
    >
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8"></div>
    <div class="col">
    
      <div class="contact-us">
        <div class="contact-us-title">CONTACT US</div>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
        <div class="contact-us-address-1">
          MS Plaza, Rathyatra Crossing, Varanasi,
        </div>
        <div class="contact-us-address-2">
          Uttar Pradesh 221010.
        </div>
        
        <div class="contact-us-mail">vamgenschool@gmail.com</div>
        <div class="contact-us-ph">+91 7688884790</div>
      </div>
    </div>
  </div>
</div>
