<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white pt-4">
    <div class="container-fluid">
      <a
        class="navbar-brand ml-5"
        href="#"
        style="color: #36D1DC;font-size: 24px;"
      >
        <b>VAM</b>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/login"
              routerLinkActive="active"
            >
              <b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/aboutus"
              routerLinkActive="active"
            >
              <b>About Us</b>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/help"
              routerLinkActive="active"
            >
              <b>Help</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/contact"
              routerLinkActive="active"
            >
              <b>Contact Us</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-8 col-sm-8 login-image">
      <img src="../../assets/images/blogging.svg" alt="img" />
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 login-box">
      <div class="card text-center">
        <div class="card-body">
          <div class="login-title">
            <h3>CONTACT US</h3>
          </div>
          <div class="loginform">
            <div class="about-us-subtitile-1">
              <p class="p-div">
                  MS Plaza, Rathyatra Crossing, Varanasi,
              </p>
              <p class="p-div">
                  Uttar Pradesh 221010.
              </p>
              <p class="p-div">
                  vamgenschool@gmail.com
              </p>
              <p class="p-div">
                  +91 7688884790
              </p>
            </div>

  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
