<!-- <div class="topnav">
  <a class="vam-title" href="#home">VAM</a>

  <div class="topnav-right mr-5">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="nav-link" routerLink="/register" routerLinkActive="active"
      >Register</a>
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"
      >About Us</a
    >
    <a class="nav-link" routerLink="/help" routerLinkActive="active">Help</a>
    <a class="nav-link" routerLink="/contact" routerLinkActive="active"
      >Contact Us</a
    >
  </div>
</div> -->
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white pt-4">
    <div class="container-fluid">
      <a
        class="navbar-brand ml-5"
        href="#"
        style="color: #36D1DC;font-size: 24px;"
      >
        <b>VAM</b>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/login"
              routerLinkActive="active"
            >
              <b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/aboutus"
              routerLinkActive="active"
            >
              <b>About Us</b>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/help"
              routerLinkActive="active"
            >
              <b>Help</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link ml-5"
              routerLink="/contact"
              routerLinkActive="active"
            >
              <b>Contact Us</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-lg-4 col-md-5 col-sm-12 login-box">
    
      <div class="contact-us">
        <div class="contact-us-title">CONTACT US</div>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
        <div class="contact-us-address-1">
          MS Plaza, Rathyatra Crossing, Varanasi,
        </div>
        <div class="contact-us-address-2">
          Uttar Pradesh 221010.
        </div>
        
        <div class="contact-us-mail">vamgenschool@gmail.com</div>
        <div class="contact-us-ph">+91 7688884790</div>
      </div>
    </div>
  </div>
</div>
