.uploadvideo {
    top: 200px;
    left: 494px;
    width: 895px;
    height: 698px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #81818133;
    border-radius: 24px;
    opacity: 1;
  }
  
  .upload-video-image {
    background: url("src\assets\images\chatting-using-apps.svg") no-repeat;
    margin: auto;
    padding: 10px;
    width: 600px;
    height: 399px;
    opacity: 1;
  }
 
  .btn-primary {
      width:100%;
  }
  .row{
      margin-top: 35px;
  }

  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    width: 144px;
    background-color: blue;
    color: #fff;
    border: 1px solid #007bff;;
    border-radius: 18px;
    cursor: pointer;
    position: relative;
    padding: 1rem 50px;
    font-weight: 400;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    /* margin-top: 8px; */
    height: 39px;
}

.upload-video{
  margin: 0 auto;
}