
<div class="teacher-assignments">
  <div class="assignments">
    Check AssignMents
  </div>
  <div class="assignement-list">
    <div class="d-flex bd-highlight">
    <div class="p-2 w-25 bd-highlight">
      Submitted by
    </div>
    <div class="p-2 w-75 bd-highlight">
      Mark as Submitted
    </div>
  </div>

  <div class="d-flex bd-highlight" *ngFor="let i of [1, 3] ">
    <div class="d-flex p-2 bd-highlight">
      Aakash singh
    </div>
   <div class="d-flex bd-highlight">
    <div class="d-flex p-2 bd-highlight">
      Submitted on 02/03/2020
    </div>
    <div class="d-flex p-2 bd-highlight">
      <input type="text" class="inputBox"><span>/100</span>
    </div>
    <div>
      <button class="btn" style="background-color: #36d1dc;" type="button">Save</button>
      <button class="btn" style="background-color: #36d1dc;" type="button">Download</button>
    </div>
  </div>
</div>
  </div>
</div>
