.notes {
    top: 200px;
    left: 494px;
    width: 895px;
    height: 698px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #81818133;
    border-radius: 24px;
    opacity: 1;
  }
  
  .notes-image {
    background: url("src\assets\images\meditation.svg") no-repeat;
    margin: auto;
    padding: 10px;
    width: 600px;
    height: 399px;
    opacity: 1;
  }
  .col-2{
    font-style: normal;
    font-size: 25px;
    text-align: left;
    color: black;
  }
  .col-4{
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: black;
  }
  .btn-primary {
      width:100%;
  }
  .row{
      margin-top: 25px;
  }

  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    width: 144px;
    background-color: blue;
    color: #fff;
    border: 1px solid #007bff;;
    border-radius: 18px;
    cursor: pointer;
    position: relative;
    padding: 1rem 50px;
    font-weight: 400;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    /* margin-top: 8px; */
    height: 39px;
}

.upload-notes{
  margin: 0 auto;
}